<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- COLLISION GROUND PARAM -->
  <arg name="collision_ground" default="false"/>
  <arg name="world_name" default="box.world"/>
	<arg name="execute_on_niryo_one_raspberry_pi_image" value="false"/>
  <arg name="urdf_without_meshes" default="false" />

  <!-- camera placement args -->
  <arg name="x" default="0.66" />
	<arg name="y" default="0.14" />
	<arg name="z" default="0.35" />
	<arg name="R" default="0" />
	<arg name="P" default="1.2" />
	<arg name="Y" default="-3" />



  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="robot_name" default="niryo_one"/>

  <include file="$(find icclab_grasping_niryo)/launch/include/niryo_one_base.launch" pass_all_args="true"/> 
  
  <!-- <include file="$(find ros_gz)/launch/empty_world.launch"> -->
  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <!--arg name="world_name" value="$(find niryo_one_gazebo)/worlds/niryo_one.world"/-->
    <!--arg name="world_name" value="$(find icclab_grasping_niryo)/worlds/niryo_one_two_items.world"/-->
   
    <!-- <arg name="worldName" value="$(find icclab_grasping_niryo)/worlds/$(arg world_name)"/>  
    
    <arg name="verbose" value="true" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>    -->
    <arg name="ign_args" value="$(find icclab_grasping_niryo)/worlds/box_ign.world"/>  
  </include>

  <node name="niryo_one_spawn" pkg="ros_ign_gazebo" type="create" output="screen" args="-world default -urdf -param robot_description -model niryo_one" respawn="false" />  

  <!-- load realsense description into params and spawn in gazebo -->
  <param name="realsense_description" command="$(find xacro)/xacro $(find icclab_grasping_niryo)/urdf/realsense_standalone.urdf.xacro x:=$(arg x) y:=$(arg y) z:=$(arg z) R:=$(arg R) P:=$(arg P) Y:=$(arg Y)"/>  
  <node name="realsense_spawn" pkg="ros_ign_gazebo" type="create" output="screen" args="-world default -urdf -param realsense_description -model camera" respawn="false" />  
  <!-- add tf state publisher for camera -->
  <node name="camera_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=realsense_description" output="screen" />
  <include file="$(find icclab_grasping_niryo)/launch/include/ground_to_camera.launch" pass_all_args="true"/>
  <!-- add static transformation world -> ground link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_ground_link_static_tf" args="0 0 0 0 0 0 world ground_link" />
	
  
</launch>
