<?xml version="1.0" encoding="UTF-8"?>
<launch>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icclab_grasping_niryo)/config/niryo_pickandplace.rviz" />

        <!-- grasp generation with GPD-->
        <include file="$(find gpd_ros)/launch/niryo_grasp_generation.launch" />

        <!-- run point cloud filtering and clustering server-->
        <node name="pointcloud_filtering" pkg="irlab_point_cloud_filtering" type="point_cloud_clustering_server" respawn="true" output="screen" />

        <!-- import octomap sensors -->
        <!--    <include ns="move_group"  file="$(find icclab_grasping_niryo)/launch/grasping_in_sim/include/sensor_manager.launch.xml"/> -->


</launch>

<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
