<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  
<include file="$(find gpd_ros)/launch/robotiq_grasp_generation.launch"/>
  <!-- run point cloud clustering--> 
	<node name="pointcloud_clustering" pkg="irlab_point_cloud_filtering" type="point_cloud_clustering_server" respawn="true" output="screen"/>

	<!-- import octomap sensors -->
	<include ns="move_group"  file="$(find icclab_grasping_niryo)/launch/grasping_in_sim/include/sensor_manager.launch.xml"/>
</launch>
