<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="execute_on_niryo_one_raspberry_pi_image" value="false"/>
  <arg name="urdf_without_meshes" default="false" />
  <arg name="camera" default="camera"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find icclab_grasping_niryo)/urdf/niryo_one.urdf.xacro" unless="$(arg urdf_without_meshes)"/>

 	<!--   <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0.395 -0.03 0.36 3.14 1.57 0 base_link camera_link 100" /> -->
    	
	<arg name="aruco_marker_id" value="13" />
	<node pkg="tf" type="static_transform_publisher" name="aruco_link_broadcaster" args="0.003 -0.23 0 1.57 0 0 ar_marker_$(arg aruco_marker_id) ground_link 100" /> 

	<arg name="cam_img_raw" value="/camera/color/image_raw" />
	<arg name="cam_info" value="/camera/color/camera_info" />
	<arg name="output_frame" value="camera_color_optical_frame" />
  <node pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" name="ar_track_bundle" args="4.5 0.08 0.2 $(arg cam_img_raw) $(arg cam_info) $(arg output_frame) $(find icclab_grasping_niryo)/marker_bundles/bundle9to17.xml" respawn="true" />
<!--	<node pkg="ar_track_alvar" type="individualMarkersNoKinect" name="ar_tracker" args="4.5 0.01 0.2 $(arg cam_img_raw) $(arg cam_info) $(arg output_frame)" respawn="true" />-->
  	
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icclab_grasping_niryo)/launch/niryo_camera_aruco.rviz" />

<!--
   <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="depth_width"       value="1280"/>
      <arg name="depth_height"      value="720"/>
      <arg name="depth_fps"         value="6"/>
      <arg name="color_width"       value="1280"/>
      <arg name="color_height"      value="720"/>
      <arg name="color_fps"         value="6"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="infra1_width"       value="1280"/>
      <arg name="infra1_height"      value="720"/>
      <arg name="infra2_width"       value="1280"/>
      <arg name="infra2_height"      value="720"/>
      <arg name="infra1_fps"        value="6"/>
      <arg name="infra2_fps"        value="6"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_imu"        value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
      <arg name="initial_reset"     value="true"/>
    </include>
  </group>
  -->
  <!--<node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<param name="gui" value="true" type="bool"/>
		<param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
		<param name="subscribe_depth" value="true" type="bool"/>
		<param name="objects_path" value="" type="str"/>
		<param name="object_prefix" value="object" type="str"/>		
		<remap from="rgb/image_rect_color" to="camera/color/image_raw"/>
		<remap from="depth_registered/image_raw" to="camera/depth/image_rect_raw"/>
		<remap from="depth_registered/camera_info" to="camera/depth/camera_info"/>
	</node> -->

</launch>






