<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find icclab_grasping_niryo)/launch/niryo_camera_aruco.r    viz" />
  <!-- camera trans -->
  <node name="camera_test" type="test_camera.py" pkg="icclab_grasping_niryo" output="screen"/>

   <!-- run point cloud filtering-->
   <node name="pointcloud_filtering" pkg="irlab_point_cloud_filtering" type="point_cloud_filtering_server" respawn="false" args="/camera/depth_registered/points" output="screen"/>
  
   <include file="$(find icclab_summit_xl)/launch/include/grasp_generation.launch.xml"/>



</launch>
